In [1]:
# importing the panda module
import pandas as pd

In [ ]:
# DataFrame: two dimensional data frame
# parameter: a dictionary of lists

hogwarts = pd.DataFrame(
    {
        "Name": ["Harry Potter", "Draco Malfoy", "Luna Lovegood", "Cedric Diggory"],
        "House": ["Gryffindor", "Slytherin", "Ravenclaw", "Hufflepuff"],
        "Year": [4, 4, 3, 7]
    }
)

In [4]:
hogwarts

             Name       House  Year
0    Harry Potter  Gryffindor     4
1    Draco Malfoy   Slytherin     4
2   Luna Lovegood   Ravenclaw     3
3  Cedric Diggory  Hufflepuff     7

In [5]:
# Series: Each column in a data frame
# Similar to selecting the values with a key (py dictionaries)
hogwarts["House"]

0    Gryffindor
1     Slytherin
2     Ravenclaw
3    Hufflepuff
Name: House, dtype: object

In [6]:
# manually creating a series using pd.Series
# @param: a list of values
# @param: name, the name of the column
wand_core = pd.Series(["Phoenix Feather","Unicorn Hair",
                       "Unknown", "Unicorn Hair"], name="Wand Core")

In [7]:
# has no column labels
# only row labels
wand_core

0    Phoenix Feather
1       Unicorn Hair
2            Unknown
3       Unicorn Hair
Name: Wand Core, dtype: object

In [8]:
# maximum value
hogwarts["Year"].max()

7

In [9]:
# printing out basic information
hogwarts.describe()

           Year
count  4.000000
mean   4.500000
std    1.732051
min    3.000000
25%    3.750000
50%    4.000000
75%    4.750000
max    7.000000